[submodule "common/crypto"]
path = common/crypto
url = ../VMPilot-crypto.git
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "third_party/BLAKE3"]
	path = third_party/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
