[submodule "common/crypto"]
path = common/crypto
url = ../VMPilot-crypto.git
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "third_party/BLAKE3"]
	path = third_party/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "third_party/coffi-modern"]
	path = third_party/coffi-modern
	url = https://github.com/scc-tw/coffi-modern.git
[submodule "third_party/elfio-modern"]
	path = third_party/elfio-modern
	url = https://github.com/scc-tw/elfio-modern.git
[submodule "third_party/libcbor"]
	path = third_party/libcbor
	url = https://github.com/PJK/libcbor.git
